* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  position: relative;
  width: 100%;
}

section > .box {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

section > .box2 {
  background: #e63946;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

section > .box > h2 {
  color: #e63946;
  font-size: 6vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
