* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(2, 2, 49);
}

h2 {
  position: relative;
  font-size: 14vw;
  color: rgb(2, 2, 49);
  -webkit-text-stroke: 0.3vw rgb(26, 26, 126);
  text-transform: uppercase;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #d90429;
  -webkit-text-stroke: 0vw rgb(26, 26, 126);
  border-right: 2px solid #d90429;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
