* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2 {
  text-align: center;
}

.general-container {
  display: flex;
  justify-content: space-around;
}

section {
  width: 300px;
}

ol {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
}

li {
  text-align: right;
}

.first-day {
  grid-column-start: 5;
}

.day-name {
  background: #eee;
  font-weight: bold;
  text-align: center;
}
